<!-- <div id='app'>
  application
</div> -->
<div class ="background-two">
<div class="header">
  <h1>Ryan Torrance</h1>
</div>
  <div class="strike"></div>
<div class ="list">
  <ul>
    <li>&#9672; I live in the beautiful city of Brotherly Love.</li>
    <li>&#9672; I just finished an internship for an awesome start up called NOMO FOMO. (nomo-fomo.com) </li>
    <li>&#9672; I attended Launch Academy in Philadelphia during the Spring of 17' </li>
    <li>&#9672; I am an avid skier and bikram yoga enthusiast</li>
    <li>&#9672; I enjoy photography and recording go pro footage of all types of activities.</li>
    <li>&#9672; I love new technology and learning about what's next. Blockchain, AR, etc.</li>
    <li>&#9672; I love creating new things and solving problems daily</li>
  </ul>
</div>
<div class="strike"></div>
<div class="timeline">

  <div class="timeline-item">
    <div class="timeline-icon">
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11.997 24c-6.438.012-9.21-7.697-10.997-8.879 6.163-2.661 9.556.165 11 2.589l.034-.057c1.463-2.41 4.851-5.172 10.966-2.532-1.787 1.182-4.559 8.891-10.997 8.879h-.006zm.006-2c4.096 0 7.328-5.716 7.328-5.716-2.299-.522-4.16.193-7.258 4.59l-.073.105c-3.141-4.491-5.014-5.221-7.331-4.695 0 0 3.232 5.716 7.328 5.716h.006zm.05-7c-1.405 0-2.615-.863-3.125-2.087-1.337.172-2.695-.493-3.37-1.663-.703-1.216-.56-2.696.245-3.75-.805-1.054-.947-2.534-.245-3.751.675-1.17 2.039-1.837 3.371-1.662.51-1.224 1.719-2.087 3.124-2.087 1.404 0 2.614.863 3.125 2.087 1.333-.176 2.694.492 3.371 1.662.701 1.217.558 2.697-.246 3.751.804 1.054.947 2.533.246 3.75-.677 1.17-2.038 1.834-3.371 1.663-.511 1.224-1.721 2.087-3.125 2.087zm-1.391-5.09l.008 1.713c.003.76.624 1.377 1.383 1.377s1.38-.617 1.383-1.376l.008-1.71 1.487.846c.643.367 1.521.123 1.885-.51.38-.657.156-1.504-.501-1.886l-1.48-.864 1.48-.864c.657-.382.881-1.229.501-1.887-.364-.631-1.244-.874-1.883-.509l-1.489.852-.008-1.716c-.003-.758-.624-1.376-1.383-1.376s-1.38.618-1.383 1.376l-.008 1.714-1.488-.849c-.641-.368-1.518-.123-1.884.508-.38.659-.155 1.505.5 1.887l1.481.864-1.481.864c-.655.382-.88 1.228-.5 1.886.366.633 1.245.877 1.884.51l1.488-.85zm1.338-4.431c1.104 0 2 .896 2 2s-.896 2-2 2-2-.896-2-2 .896-2 2-2z"/></svg>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2018</h2>
      <p>Currently focusing on Angular 2+ and mobile development.</p>
    </div>
  </div>

   <div class="timeline-item">
    <div class="timeline-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 18v-1.511h-.5v1.511h-1v-1.511h-2.484l.25-1.489h.539c.442 0 .695-.425.695-.854v-4.444c0-.416-.242-.702-.683-.702h-.817v-1.5h2.5v-1.5h1v1.5h.5v-1.5h1v1.526c2.158.073 3.012.891 3.257 1.812.29 1.09-.429 2.005-1.046 2.228.75.192 1.789.746 1.789 2.026 0 1.742-1.344 2.908-4 2.908v1.5h-1zm-.5-5.503v2.503c1.984 0 3.344-.188 3.344-1.258 0-1.148-1.469-1.245-3.344-1.245zm0-.997c1.105 0 2.789-.078 2.789-1.25 0-1-1.039-1.25-2.789-1.25v2.5z"/></svg>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">December 2017</h2>
      <p>BLOCKCHAIN FRENZY! What does DApp mean? </p>
    </div>
  </div>

    <div class="timeline-item">
    <div class="timeline-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15 21c0 1.598-1.392 3-2.971 3s-3.029-1.402-3.029-3h6zm.137-17.055c-.644-.374-1.042-1.07-1.041-1.82v-.003c.001-1.172-.938-2.122-2.096-2.122s-2.097.95-2.097 2.122v.003c.001.751-.396 1.446-1.041 1.82-4.668 2.709-1.985 11.715-6.862 13.306v1.749h20v-1.749c-4.877-1.591-2.193-10.598-6.863-13.306zm-3.137-2.945c.552 0 1 .449 1 1 0 .552-.448 1-1 1s-1-.448-1-1c0-.551.448-1 1-1zm-6.451 16c1.189-1.667 1.605-3.891 1.964-5.815.447-2.39.869-4.648 2.354-5.509 1.38-.801 2.956-.76 4.267 0 1.485.861 1.907 3.119 2.354 5.509.359 1.924.775 4.148 1.964 5.815h-12.903z"/></svg>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">November 2017</h2>
      <p>Attended many meetups in the Philadelphia area to get a better understanding of the tech culture and learn new things.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10.26 4.171c-.58-.286-1.093-.517-1.581-.719.77-2.08 1.882-3.452 3.321-3.452 1.402 0 2.494 1.301 3.26 3.292-.492.211-.998.447-1.572.739-.588-1.567-1.258-2.275-1.688-2.275-.442 0-1.14.75-1.74 2.415zm1.74 18.073c-.429 0-1.1-.708-1.688-2.275-.58.295-1.081.528-1.572.739.767 1.991 1.858 3.292 3.26 3.292 1.439 0 2.551-1.372 3.321-3.452-.485-.201-.997-.431-1.581-.719-.6 1.665-1.298 2.415-1.74 2.415zm-4.708-2.216c-1.917.705-4.778 1.392-5.916-.317-.562-.845-.771-2.468 1.42-5.408.582-.78 1.254-1.545 1.937-2.249 1.531-1.554 3.256-3.05 5.505-4.598-1.083-.596-2.264-1.166-3.416-1.591-1.18-.434-2.219-.675-3.015-.675-.508 0-.886.107-1.009.289-.131.192-.138.783.445 1.842l.21-.012c1.048 0 1.897.865 1.897 1.932s-.85 1.932-1.897 1.932-1.897-.865-1.897-1.932c0-.345.089-.669.246-.95-1.11-1.96-.881-3.139-.419-3.815.324-.476 1.009-1.042 2.424-1.042 2.514 0 5.901 1.66 8.082 2.946 2.214-1.363 5.717-3.16 8.304-3.16 1.421 0 2.106.581 2.431 1.069.562.845.771 2.468-1.42 5.407-3.084 4.137-9.216 8.606-13.912 10.332zm12.538-11.394c1.506-2.019 1.552-3.082 1.366-3.361-.126-.189-.492-.298-1.003-.298-1.953 0-4.926 1.459-6.638 2.447 1.265.837 2.445 1.719 3.522 2.617-.407.413-.834.819-1.271 1.211-1.195-.984-2.523-1.947-3.9-2.811-1.581 1.037-3.173 2.254-4.603 3.551 1.075.951 2.356 1.949 3.721 2.873-.522.331-1.05.648-1.652.98l-.013-.009c-1.144-.811-2.271-1.701-3.316-2.632-2.818 2.878-3.612 4.964-3.239 5.525.126.189.492.298 1.003.298 2.35 0 6.08-2.017 8.287-3.464 2.709-1.776 5.799-4.328 7.736-6.927zm2.377 7.091c.141-.27.22-.577.22-.903 0-1.067-.849-1.932-1.897-1.932s-1.897.865-1.897 1.932.849 1.932 1.897 1.932l.258-.018c.553 1.024.544 1.598.415 1.787-.124.181-.501.288-1.009.288-1.602 0-3.833-.945-5.27-1.658-.48.342-1.077.748-1.659 1.119 1.926 1.037 4.758 2.295 6.929 2.295 1.415 0 2.1-.566 2.424-1.042.461-.674.69-1.85-.411-3.8z"/></svg>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">October 2017</h2>
      <p>Took Web Bos's online React Course to get a better understanding of the Javascript library. </p>
    </div>
  </div>

    <div class="timeline-item">
    <div class="timeline-icon">
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20.012 18v2h-20v-2h20zm3.973-13.118c.154 1.349-.884 2.615-1.927 3.491-.877.735-9.051 6.099-9.44 6.307-1.756.936-3.332 1.306-4.646 1.32-1.36.014-2.439-.354-3.144-.872l-4.784-3.977 3.742-2.373 4.203 1.445.984-.578-4.973-3.645 3.678-2.124 7.992 1.545c.744-.445 1.482-.9 2.225-1.348 1.049-.623 2.056-1.055 3.387-1.055 1.321 0 2.552.52 2.703 1.864zm-4.341.512c-.419.192-3.179 1.882-3.615 2.144l-8.01-1.55-.418.241 5.288 3.307-4.683 2.876-4.214-1.448-.69.395c.917.729 1.787 1.522 2.751 2.186 1.472.962 4.344.22 5.685-.663.9-.592 7.551-4.961 8.436-5.582.605-.431 1.797-1.414 1.824-2.152l.001-.004c-.644-.287-1.716-.041-2.355.25z"/></svg>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">September 2017</h2>
      <p>Attended Denver startup week and followed their developer conference path. I met a lot of great people, learned lots, and bonded with the Nomo Fomo crew.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11.207 16.434l3.769-1.866-3.863-3.295 1.195-.591 6.253 2.111 2.987-1.479c.788-.395 2.089-.289 2.384.307.047.095.068.203.068.319-.003.609-.613 1.434-1.269 1.764l-2.987 1.479-2.111 6.253-1.195.591-.279-5.069-3.769 1.866-.778 1.873-.835.414-.293-2.831-2.074-1.949.836-.414 1.961.517zm-2.187 4.194c-4.82 1.541-8.629-2.376-9.02-4.628 1.573 1.733 4.624 3.261 7.973 2.256l.886.839.161 1.533zm-8.886-6.985c-.088-.535-.134-1.084-.134-1.643 0-5.523 4.477-10 10-10 4.927 0 9.023 3.565 9.848 8.256l-1.606.802c-1.25-.475-4.441-1.667-4.441-1.667-.645-.227-1.339-.455-1.687-.338.086-.379-.164-.72-.541-.994-.093-.068-.844-.588-.641-.246l.658.654c-.033.022-.173-.238-.173-.048.044-.112.016.483-.087.288-.045-.074.075-.115.005-.222 0-.071-.189-.14-.227-.188-.104-.13-.381-.415-.531-.483-.041-.019-.636.073-.686.092l-.149.259c-.125.046-.24.105-.35.178l-.13.294c-.058.05-.638.242-.641.25.025-.063-.406-.143-.378-.268.032-.137.178-.567.14-.723-.04-.165.895.236.956-.197.024-.187.038-.406-.262-.437.057.006.58-.205.666-.3.122-.14.401-.37.604-.37.236 0 .185-.344.294-.512.109.044-.059.313.072.422-.008-.085.371.047.408.028.087-.047.571-.019.496-.247-.084-.231.042-.162.15-.211-.019.008.283-.515.335-.344-.035-.176-.35.062-.46.054-.254-.021-.147-.434-.05-.555.074-.096-.203-.213-.206-.03-.005.274-.26.522-.202.887.091.549-.612-.132-.673-.095-.234.141-.424-.178-.304-.371.124-.196.42-.186.544-.396.086-.148.186-.32.321-.433.445-.374.568-.075 1.012-.034.435.04.147.103.088.27-.058.159.238.215.34.082.059-.076.192-.269.249-.411.074-.185.751-.164.278-.447-.312-.186-1.67-.56-2.58-.56-.197 0-.334.218-.484.343-.297.246-1.056.729-1.479.582-.433-.149-1.359.55-1.507.555-.055.003.002-.529.298-.567-.129.018 1.039-.59 1.007-.717-.038-.15-2.332.685-2.23.853.048.076.249.076-.013.245-.15.09-.311.667-.452.667-.421.184-.447-.362-.915.341l-.746.301c-1.106 1.175-1.871 2.664-2.149 4.318-.011.067.278.188.316.234.093.112.093.593.139.751.115.398.399.62.617.982.128.216.341.762.274.988.091-.148.892.68 1.038.852.345.406.612.898.051 1.299-.146.106.125.658.108.97-2.552-.493-4.198-3.043-4.198-3.043zm10.308.832c-.01-.166-.114-.363-.331-.3-.47.137-.327-.368-.669-.344-.247.017-.45.174-.679.243-.288.086-.583-.068-.868-.104-1.173-.148-1.555-1.488-1.249-2.456.031-.158-.095-.452-.04-.574.131-.293.401-.623.635-.845.131-.125.301-.093.456-.19.239-.151.242-.461.476-.651.334-.272.789-.266 1.224-.323.231-.031 1.113-.222 1.252-.05 0 .031.151.48-.003.478l-.013-.001.013.001c.089.008.186.05.288.106l-.575.285-.177.101c-.142.093-.27.207-.378.337-.305.369-.442.859-.373 1.333.025.168.075.332.148.485.073.153.169.295.284.42l.147.141 1.901 1.621-.887.44-.582-.153zm.51-5.666c-.029-.055.285-.084.341-.084.062.007-.162.376-.341.084zm-1.792-2.56l.09-.026-.043.114c.072.129.019.206.007.276l-.124.077c-.044.056.215.063.217.071.01.028-.312.074-.252.142.079.114.687-.162.59-.146.187-.095.024-.105-.081-.159-.036-.179-.066-.456-.177-.566l.073-.085c-.173-.249-.3.302-.3.302zm-.43.454c-.071.029-.141-.016-.072-.086l.073-.089-.007-.04.058-.072.06-.015.124-.087c.036.008.121.078.092.123l-.066.082c-.015.139-.155.138-.26.183l-.002.001.002-.001-.002.001z"/></svg>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">August 2017</h2>
      <p>Started a Junior Developer intern role with an awesome start up called Nomo Fomo. The ultimate social media travel platform. </p>
    </div>
  </div>

   <div class="timeline-item">
    <div class="timeline-icon">
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.172 11.486l-5.172-5.072 1.414-1.414 6.586 6.485-6.586 6.515-1.414-1.414 5.172-5.1zm-18.344 0l5.172-5.072-1.414-1.414-6.586 6.485 6.586 6.515 1.414-1.414-5.172-5.1zm4.672-1.486c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm9 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm-4.5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z"/></svg>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">September 2017</h2>
        <p>Built my first very own application and finished up my co hort at Launch Academy. I still miss the snap clap stand ups each morning.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-4.551 8.09c1.214-1.414 2.881-2.09 4.535-2.09 2.145 0 4.267 1.136 5.358 3.277h-4.646c-.837 0-1.378-.019-1.964.29-.687.362-1.207 1.034-1.388 1.823l-1.895-3.3zm2.555 3.91c0 1.1.895 1.995 1.993 1.995 1.101 0 1.995-.895 1.995-1.995s-.895-1.996-1.995-1.996c-1.099 0-1.993.896-1.993 1.996zm2.767 2.612c-1.119.333-2.428-.037-3.146-1.274-.547-.946-1.994-3.467-2.652-4.613-.665 1.02-.973 2.146-.973 3.253 0 2.724 1.863 5.325 4.837 5.909l1.934-3.275zm1.079-4.608c.933.867 1.136 2.271.504 3.359-.476.82-1.993 3.384-2.73 4.625 3.595.221 6.376-2.68 6.376-5.986 0-.657-.109-1.33-.346-1.998h-3.804z"/></svg>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">June 2017</h2>
      <p>Launched my first heroku app for a group project. TDD Development, Paired programming, and a SUCCESS! </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm5.774 9.465l-5.239-5.239c-.151-.151-.349-.226-.547-.226-.198 0-.395.075-.546.226l-1.088 1.088 1.38 1.38c.321-.108.688-.035.944.22.257.258.329.628.218.95l1.33 1.33c.322-.111.693-.039.95.219.359.359.359.94 0 1.3-.359.359-.941.359-1.301 0-.27-.271-.337-.667-.2-1l-1.24-1.241v3.265c.087.043.17.101.243.174.359.358.359.94 0 1.3-.359.359-.942.359-1.3 0-.36-.36-.36-.942 0-1.3.088-.089.191-.156.301-.201v-3.295c-.11-.044-.213-.111-.301-.2-.272-.272-.338-.672-.198-1.006l-1.361-1.36-3.592 3.592c-.151.151-.227.349-.227.547 0 .197.076.395.227.546l5.239 5.239c.151.151.349.226.546.226.198 0 .396-.075.547-.226l5.215-5.214c.151-.151.226-.349.226-.547 0-.197-.075-.395-.226-.546v-.001z"/></svg>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">May 2017</h2>
      <p>Attended Launch Academy, an immersive 18 week coding bootcamp to build web apps with a focos on Ruby on Rails and Javascript.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4 14.083c0-2.145-2.232-2.742-3.943-3.546-1.039-.54-.908-1.829.581-1.916.826-.05 1.675.195 2.443.465l.362-1.647c-.907-.276-1.719-.402-2.443-.421v-1.018h-1v1.067c-1.945.267-2.984 1.487-2.984 2.85 0 2.438 2.847 2.81 3.778 3.243 1.27.568 1.035 1.75-.114 2.011-.997.226-2.269-.168-3.225-.54l-.455 1.644c.894.462 1.965.708 3 .727v.998h1v-1.053c1.657-.232 3.002-1.146 3-2.864z"/></svg>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">2016</h2>
      <p>Vanguard - Contractor. This is the point where I was coding daily on codeacademy.com and wanted to learn a new skill that would make me invaluable to a company, while doing what I enjoyed. The point where I took a chance. </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2 12l-4.5 4.5 1.527 1.5 5.973-6-5.973-6-1.527 1.5 4.5 4.5z"/></svg>
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2014</p>
      <p>NEXClean - Businss Development/Tech</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12.185 4l2.113-4 1.359.634-1.817 3.366h4.199c0 .922 1.092 1.618 1.961 1.618v1.382h-1l-2 17h-10l-2.02-17h-.98v-1.382c.87 0 2-.697 2-1.618h6.185zm-5.185 3l1.735 15h6.53l1.735-15h-10zm3.75 10.5c.414 0 .75.336.75.75s-.336.75-.75.75-.75-.336-.75-.75.336-.75.75-.75zm2.727-2.5c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1zm-2.977-3c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z"/></svg>
    </div>
    <div class="timeline-content right">
      <p class="timeline-content-date">2012</p>
      <p>Red Bull - Account Executive</p>
    </div>
  </div>

</div>
</div>
